/* main styles */   
* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    font-size:100%;
    font-family:"Roboto",Helvetica,Arial,sans-serif;
    background-color: #517fa4;
    text-rendering: optimizelegibility;
    /* background-image: linear-gradient(to bottom, #517fa4 0px, #306088 100%); */
    background-repeat: repeat-x;
}
#container {
    max-width: 70%;
    margin: 1% auto;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
}
/* header and footer */
header {
    padding: 10px;
    border-bottom: 1px solid #517fa4;
}
header h1 {
    padding: 0;
    font-size: 3em;
    margin: 0;   
}
input {
    font-size: 1.2em;
    padding: 12px;
    background: #C8DFF2; 
    border:1px solid #517fa4;
    cursor:pointer;
}
input[type=radio] {
    background: transparent;
}
footer {
    clear: both;
}

/* main section */
main article { 
    margin: 0; 
    padding:5px; 
    box-sizing: border-box; 
}
main article .pics {
    margin: 10px auto;
}
main article img {
    border-radius: 10px;
}
main article #viewMore {
    text-align: center;
}

/* flip styles */
ul.pics.grid {
    display: block;
    list-style-type: none;
    padding:0;
}
ul.pics.grid li {
    display: inline-block;
    width: 20%;
    margin:0;
    padding:0;
}
ul.pics.grid li img {
    width: 98%;
    margin: 0.5%;
}
ul.pics.list {
    display: block;
    list-style-type: none;
    padding:0;
}
ul.pics.list li {
    display: block;
}
ul.pics.list li img {
    margin: 0;
    float: left;
}
ul.pics.grid .stats {
    padding:0;
    margin:0;
    text-align: center;
    font-size: 0.76em;
}
ul.pics.grid .details {display:none;}
ul.pics.list .details {
    display: block;
    margin: 0 0 0 170px;
    padding: 0;
}
ul.pics.list .details li {
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}
ul.pics.list .stats {
    width: 150px;
    text-align: center;
    font-size: 0.76em;
    padding:10px 0;
    margin:0;
    clear:left;
}
ul.pics.list .stats li {
    display: inline;
}
ul.pics.grid li.statsLikes, ul.pics.grid li.statsComments,
ul.pics.list li.statsLikes, ul.pics.list li.statsComments {
    background-image: url("../sprites/profile-page-assets.png");
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    ul.pics.grid li.statsLikes, ul.pics.grid li.statsComments,
    ul.pics.list li.statsLikes, ul.pics.list li.statsComments {
        background-image: url("../sprites/profile-page-assets@2x.png");
        background-size: 200px 200px;
    }
}
ul.pics.grid li.statsLikes,
ul.pics.list li.statsLikes {
    background-position: 3px -96px;
    margin-right: 10px;
    width: auto;
}
ul.pics.grid li.statsComments,
ul.pics.list li.statsComments {
    background-position: 3px 4px;
}
/* breakpoints for mobile go here */
@media only screen and (max-width: 768px) {
    ul.pics.grid li {
        width: 50%;
    }
}
@media only screen and (max-width: 480px) {
    #container {
        min-width: 100%;
        width: 100%;
        margin: 10px auto;
        background-color: #ffffff;
        padding: 5px;
        box-sizing: border-box;
    }
    header {
        height: auto;
        padding: 10px;
    }
    header h1 {
        font-size: 1.4em;
        padding-top: 10px;
    }
    main article { 
        float: none; 
        width: 100%; 
        margin: 0; 
        padding:5px; 
        background-color: #fff; 
        box-sizing: border-box; 
    }
    /* main article img {
        max-width: 100%;
        width:100%
    } */
    ul.pics.grid li {
        width: 50%;
    }
    ul.pics.grid li li{
        width: auto;
    }
    ul.pics.list .stats {
        width: auto;
        text-align: left;
        font-size: inherit;
        clear: left;
    }
    
}
@media only screen and (max-width: 320px) {
    #container {
        min-width: 100%;
        width: 100%;
        margin: 10px auto;
        background-color: #ffffff;
        padding: 5px;
        box-sizing: border-box;
    }
    header {
        height: auto;
        padding: 10px;
    }
    header h1 {
        font-size: 1.4em;
        padding-top: 10px;
    }
    main article { 
        float: none; 
        width: 100%; 
        margin: 0; 
        padding:5px; 
        background-color: #fff; 
        box-sizing: border-box; 
    }
    main article img {
        max-width: 100%;
        width:100%
    }
    ul.pics.grid li {
        width: 100%;
    }
    ul.pics.grid li li{
        width: auto;
    }
    ul.pics.list .stats {
        width: auto;
        text-align: left;
        font-size: inherit;
        clear: left;
    }
    ul.pics.list .details {
        margin-left:0;
    }
    #searchField {
        width: 100%;
    }
}